
*{
    margin: 0;
    padding: 0;
}
.Heading{
    background-color: 
    #d53e65;
    background:radial-gradient(180deg , red, blue);
    border: solid #d53e65;
    height: 80px;
}
 h1{
    font-size: 50px;
    font-family: 'Rubik Burned', system-ui;
    color: pink;
 }

.Heading img{
    height: 80px;
    width: 80px;
    float: left;
}

.Heading .info{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 75vw;
    width: 200px;
    bottom: 8vh;
    display: flex;
    gap: 20px;
}
.Heading .info span{
    background-color: skyblue;
    border-radius: 10px;
    padding: 10px;
}
.Heading .info span:hover{
    color: rgb(222, 3, 3);
    cursor: pointer;
    scale: 1.2;
    transition: 0.3s;
}
.flexbox{
    display: flex;
    gap: 16px;
    width: 200px;
}

h2{
    background-color: pink;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1px;
}
h3{
    background-color: skyblue;
    margin-top: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1px;
    text-align: center;
    font-family: Pacifico;
    font-weight: lighter;
}
.card{
    transition: all 0.3s;
}
.card:hover{
    scale: 1.1;
}


@media (max-width:480px){
    h1{
        font-size: 30px;
    }
    h2{
        width: 360px;
    }
    .Heading{
        height: 50px;
        width:360px;
    }
    .Heading img{
        height: 50px;
        width: 60px;
        float: left;
    }
    .flexbox{
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
    .header div{
        font-size: 5px;
    }
    .card{
        width: 360px;
        height: 100%;
    }
    img{
        width: 360px;
    }
}

