
.Heading{
    background-color: 
    #d53e65;
    border: solid #d53e65;
    height: 80px;
    
}
 h1{
    font-size: 50px;
    font-family: 'Rubik Burned', system-ui;
    color: pink;
 }

.Heading img{
    height: 80px;
    width: 80px;
    float: left;
}

.header div{
    background-color: white;
    display: inline;
    float: right;
    margin-right: 10px;
    border-radius: 7%;
}


.flexbox{
    display: flex;
    gap: 11.5px;
    width: 200px;
}

h2{
    background-color: pink;
    height: 50px;
    text-align: center;
    margin-top: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1px;
}
h3{
    background-color: skyblue;
    margin-top: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1px;
}
.card{
    transition: all 0.3s;
}
.card:hover{
    scale: 1.1;
}
@media (max-width:680px){
    h1{
        font-size: 30px;
    }
    h2{
        width: 360px;
    }
    .Heading{
        height: 50px;
        width:360px;
    }
    .Heading img{
        height: 50px;
        width: 60px;
        float: left;
    }
    .flexbox{
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
    .header div{
        font-size: 5px;
    }
    .card{
        width: 360px;
        height: 100%;
    }
    img{
        width: 360px;
    }
}
