/* link3 */
.img{
    float: left;
    padding-right: 30px;
    
}
.text{
    font-size:x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text1{
    clear: left;
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text2{
    font-size:x-large ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* link */

.imgs{
    float: left;
    padding-right: 40px;
}
.apk{
    font-size:x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.apk1{
    clear: left;
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.apk2{
    clear: left;
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* link4 */
.image{
    float: left;
    padding-right: 40px;
}
.d{
    font-size:x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.a{
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.b{
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.c{
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* link2 */
.i{
    float: left;
    padding-right: 40px;
}
.j{
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.k{
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.l{
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* link5 */
.i2{
    float: left;
    padding-right: 40px;
}
.o{
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.p{
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.q{
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.r{
    padding-top: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}